<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibraryApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibraryApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <LibraryApp.Properties.Settings>
            <setting name="usernameMinLen" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="passwordMinLen" serializeAs="String">
                <value>6</value>
            </setting>
        </LibraryApp.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <LibraryApp.Properties.Settings>
            <setting name="DbServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DbUsername" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value>my_library</value>
            </setting>
            <setting name="DbPort" serializeAs="String">
                <value>3306</value>
            </setting>
        </LibraryApp.Properties.Settings>
    </userSettings>
</configuration>